/* 公共样式 */
.btn{
  margin-right: 12px;
  background-color: #abcdef;
  border: 1px rgb(197, 192, 192) solid;
  border-radius: 3px;
  padding: 4px 7px;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
/* 其他 */
.game-box{
  margin: 0 30px;
}
.game-box h2 {
  margin-top: 0;
}
.game-left {
  width: 10%;
  height: 100%;
  margin: 80px 5px;
  padding: 10px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(237, 233, 233);
}
.game-left .btn {
  margin-top: 5px;
}

.game-center .select-box{
  margin: 12px 0;
}
.game-center .select-box div {
  display: block;
}
.game-center .tr-box{
  display: flex;
  justify-content: center;
}
.game-center .tr-box:last-child .square{
  border-bottom: 2px solid #ccc;
}
.game-center .square {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  border-right: 2px solid #ccc;
  border-top: 2px solid #ccc;
  font-weight: 400;
  font-size: 30px;
}
.game-center .square:nth-child(1){
  border-left: 2px solid #ccc;
}
.game-right {
  width: 25%;
  height: 100%;
  margin: 50px 0;
  background-color: rgb(237, 233, 233);
  border: 1px rgb(112, 107, 107) solid;
  min-height: 580px;
}
.game-right .tip-box {
  padding: 16px;
}
.game-right .tip-box .order{
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background-color: #abcdef;
  font-size: 18px;
  color: #fff;
}
.game-right  button {
  width: 100%;
  margin: 4px 0;
  text-align: left;
}

.game-right  .historyListSelBtn{
  background-color: #fbc876;
  color: #fff;
  font-weight: bold;
}
